---
interface Props {
    title?: string;
    seoTitle?: string;
    seoDescription?: string;
}

const { title, seoTitle, seoDescription } = Astro.props;

const pageTitle = title ? `${title} - HAW LAN-Party` : "HAW LAN-Party";
---

<!doctype html>
<html lang="de">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="icon" href="/favicon.png" />
        <link
            rel="sitemap"
            type="application/xml"
            title="Sitemap"
            href="/sitemap-index.xml"
        />
        <meta name="generator" content={Astro.generator} />
        <title>{pageTitle}</title>
        {seoTitle && <meta property="og:title" content={seoTitle} />}
        {
            seoDescription && (
                <meta property="og:description" content={seoDescription} />
            )
        }
        {seoDescription && <meta name="description" content={seoDescription} />}
        <meta property="og:type" content="website" />
    </head>
    <body>
        {/* Hier das auskommentieren, wenn wir bereit sind! */}
        <div class="banner pt-5">
            <div class="text-2xl sm:text-4xl font-bold"> 🚧 Volume 15 is coming soon!</div>
            <div class="text-xl sm:text-2xl font-bold"> Alle Infos sind in Vorbereitung!</div>
            <a class="button w-full xl:w-1/2" href="/wir-suchen-dich">Hilf uns es noch besser zu machen!</a>
        </div>

        <slot />
    </body>
</html>
